<h1>All Users</h1>

<% @users.each do |user| %>
<div class="userDiv">
    <div class="imgDiv">
        <img src="<%= user.photo %>">
    </div>
     <a href=<%= "/users/#{user.id}" %> class="usertextDiv">  
     <h1>
        <%= user.name %>
     </h1>  
     <p>
        Number of posts : <%= user.posts_counter %>
     </p>
      </a>
</div>



<% end %>