.detailPost {
  border: 2px solid black;
  padding: 20px;
  padding-right: 20px;
}

.detailPost h3 {
  display: flex;
  justify-content: space-between;
}

.likeDiv {
  display: flex;
  padding: 20px;
}

.likeDiv a {
  text-decoration: none;
  color: black;
}

.likeDiv button {
  margin-left: 10px;
}

.inner-comment{
  border: 2px solid black;
  padding: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
