.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.field {
  margin-bottom: 10px;
}

.field input {
  width: 97%;
}

.link {
  margin-top: 10px;
}

.alert,
.notice {
  text-align: center;
}

.actions input {
  width: 100%;
}
